@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

  body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#instructions {
  display: none;
}

#results,
#instructions {
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.75);
}

a:visited {
    color: inherit;
  }
  
  #results {
    display: none;
    cursor: default;
  }

/* #results .content,
#instructions .content {
max-width: 300px;
padding: 50px;
border-radius: 20px;
} */
  
#score {
    position: absolute;
    color: white;
    font-size: 3em;
    font-weight: bold;
    top: 30px;
    right: 30px;
}

#myVideo {
  opacity: 0.5;
  position: fixed;
  z-index: -10;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#bgMusic{
  position: absolute;
  margin-top: 30px;
  left: 30px;
}

#by{
  font-family: 'Sedgwick Ave Display', cursive;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  font-size: xx-large;
  font-weight: bolder;
}